<!DOCTYPE html>
<html lang="en">
<head>
  <script alt="doughnut graph"src="https://charts.mongodb.com/charts-project-0-pbrid/embed/charts?id=c99470da-8a96-4814-a803-0db755e313ff&autoRefresh=10&theme=dark"></script>
</head>
<body>
 <div id="chart"></div>
 <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-pbrid/embed/charts?id=c99470da-8a96-4814-a803-0db755e313ff&autoRefresh=10&theme=dark"></iframe>
 <script>
 </script>
</body>
</html>
