<!DOCTYPE html>
<html lang="en">
<header>
  <!--Image by <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=308936">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=308936">Pixabay</a>-->
  <img src="/assets/homeicon.png" alt="Home Menu Icon" style="width:128px;height:128px;">

</header>

<main class="center">

  <div class="_inline-block">
      <article alt= "Summary article">
          <details>
              <summary alt="Summary Dropdown"><b>Summary of the Home page</b></summary>
              <p>This is the homepage of a web application that allows you to chart and manage your personal budget.</p>
          </details>
      </article>
      <article alt= "Welcome article">
          <h1 alt="First Content Heading Welcome">Welcome</h1>
          <p>
              Do you know where you are spending your money? If you really knew
              you would be surprised! Proper budge management depends on many factors
              and this app will help you with that!
          </p>
      </article>

      <article alt= "Chart Summary article">
          <h1 alt="Second Content Heading Charts">Charts</h1>
          <p>
              Upon exploring this web application, you will notice there are three different chart tabs listed.
              Studies show that visualizing data allows us to better interpret that data and in turn make better decisions based on that data.
              We home the inclusion of our three chart options of <mark>Bar</mark>, <mark>Doughnut</mark>, <mark>Comparison</mark>.
          </p>
      </article>

      <article alt= "Results article">
          <h1 alt="Third Content Heading Results">Results</h1>
          <p>
              People who stick to a financial plan, budget every expense effectively.
              Also, they tend to live happier lives since they spend without worry of running out of money
              because they know it is all good and accounted for.
          </p>
      </article>

  </div>
</main>
</html>
