<!DOCTYPE html>
<html lang="en">
<head>
  <script alt="bar-graph" src="https://charts.mongodb.com/charts-project-0-pbrid/embed/charts?id=0ab5e1f2-b2c3-4393-b4da-ef3005497504&autoRefresh=10&theme=dark"></script>
</head>
<body>
 <div id="chart1"></div>
 <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-pbrid/embed/charts?id=0ab5e1f2-b2c3-4393-b4da-ef3005497504&autoRefresh=10&theme=dark"></iframe>
 <script>
 </script>
</body>
</html>
