<!DOCTYPE html>
<html lang="en">
<nav>
  <ul alt= "List for the website options">
      <li data-message="This is from the homepage button" alt= "Link to homepage"><a [routerLink]="['/']">Home</a></li>
      <li data-message="This is from the bar-graph button" alt= "Link to bar-graph"><a [routerLink]="['/bar-graph']">Bar Chart</a></li>
      <li data-message="This is from the doughnut-graph button" alt= "Link to doughnut-graph"><a [routerLink]="['/doughnut-graph']">Doughnut Chart</a></li>
      <li data-message="This is from the comparison-graph button" alt= "Link to comparison-graph"><a [routerLink]="['/comparison-graph']">Comparison Chart</a></li>
  </ul>
</nav>
</html>
